h1 {
    font-family: 'Lobster', cursive;
    text-align: center

}

p {
font-family: 'Montserrat', sans-serif;
text-align: center;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}